/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
 background-color: white;
}

.header {
	background-color: #2F4F4F;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	box-shadow: 0 0 20px #2F4F4F;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 30px;
}
.header__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}
.header__logo {
	width: 100px;
	height: 100px;
	background-image: url(img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 30px;
}
.header__name {
	font-family: Roboto Mono;
	font-size: 40px;
	color: white;
	font-weight: 700;
}
.header__burger {
}
.header__menu {
	display: flex;
}
.menu__button {
	display: block;
	margin: 0 10px;
	color: white;
	font-family: Roboto mono;
}
.content {

}
.content__color {	
	background-color: #D3D3D3;
	border: 1px solid #D3D3D3;
	padding: 0 15px;
	box-shadow: 0 0 10px black;
}
.content__blockTwo {
	margin-top: 120px;
	display: flex;
	flex: 0 1 50%;
	justify-content: space-around;
}
.content__block {
	background-color: #696969;
	border-radius: 10%;
	align-content: center;
	width: 100%;
	margin: 0 40px;
	box-shadow: 0 0 15px #696969;
}
.block__image {
}
.image {
	width: 100%;
	height: 100%;
}
.block__text {
	margin: 10px 0;
	color: white;
	font-family: roboto mono;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
}
.block__description {
	color: #C0C0C0;
	font-family: roboto mono;
	font-size: 15px;
	text-align: center;
	margin: 30px 0;
}
.block__button {
	display: block;
	color: white;
	font-family: roboto mono;
	font-size: 15px;
	width: 100px;
	margin-bottom: 30px;
	margin-right: 20px;
	float: right;
	text-align: center;
	height: 50px;
	padding-top: 20px;
	background-color: #2d403c;
	border-radius: 20px 5px 20px 5px;

}
.content__blockThree {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
	margin-bottom: 40px;
}
.foother {
	background-color: #182b28;
	height: 100px;
}
.foother__info {
	color: #C0C0C0;
	font-family: roboto mono;
	font-size: 10px;
	line-height: 30px;
	margin-left: 50px;
}
